body{
    background-color: lightgray;
    box-sizing: border-box;
}
.contenitore{
    width: 930px;
    background-color: white;
    margin: auto;
    border: 1px solid black;
    text-align: center;
    
}

.item{
    width: 300px;
    display: inline-block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sconto{
    width: 40px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    line-height: 20px;
}

.sconto.verde{
    background-color: green;
}

.sconto.rosso{
    background-color: red;
} 

.cuore{
    position: absolute;
    bottom: 0;
    width: 300px;
    color: red;
    font-size: 40px;
    display: none;
}

.item:hover .cuore {
    display: block;
}